/*
custom_common.css = Common component styles
*/
 @import"compass";
 @import url(custom_responsive.css);
 .aui {
    body {
        background:#EAEAEA;
        color: #5d5d5d;
        font-size: 12px;
    }
    /* main page container */
    #page.container,
    #footer-content.container {
        width: 75%;
        max-width: 1000px;
        margin: 0px auto;
    }
    input {
        width:97%;
        max-width: 330px;
    }
}
/* dockbar */
 .aui {
    .dockbar-user-notifications .user-notifications-count, .notifications-portlet .user-notifications-count {
        background-color:transparent;
        border:none;
    }
    .navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
        @include box-shadow(0 0 0 rgba(0, 0, 0, .0));
        border: none;
    }
    .navbar .container .btn-navbar {
        color:#333333;
    }
    .dockbar-split {
        .dockbar {
            .nav {
                li.dropdown {
                    > .dropdown-toggle {
                        @extend %dockbar-caret;
                    }
                    &.open, &.active, &.open.active {
                        > .dropdown-toggle {
                            background-color: transparent;
                            color: #FFF;
                            @extend %dockbar-caret;
                        }
                    }
                }
            }
            .navbar-inner {
                background: none;
                visibility: hidden;
            }
        }
        &.dockbar-ready .dockbar .navbar-inner {
            visibility: visible;
        }
    }
    .dockbar {
        &.navbar .navbar-inner {
            min-height: 40px;
        }
        .navbar-inner {
            background: #EAEAEA;
            @include background-image(linear-gradient(rgba(245, 245, 245, 1) 0%, rgba(220, 220, 220, 1) 50%, rgba(220, 220, 220, 1) 51%, rgba(184, 184, 184, 1) 100%));
            .container .btn-navbar {
                .user-avatar-image {
                    position: relative;
                    top: 2px;
                    width: 28px;
                }
            }
        }
        .nav {
            > li {
                > a {
                    line-height: 31px;
                    [class^="icon-"], [class*=" icon-"] {
                        margin-top: 3px;
                    }
                }
                &.active > a {
                    color: #FFF;
                    &, &:hover, &:focus {
                        background: #0066B3;
                    }
                }
            }
            %dockbar-caret {
                &, &:hover {
                    .caret {
                        border-bottom-color: #FFF;
                        border-top-color: #FFF;
                    }
                }
            }
            li.dropdown {
                > .dropdown-toggle {
                    @extend %dockbar-caret;
                }
                &.open, &.active, &.open.active {
                    > .dropdown-toggle {
                        background-color: #8A8B8A;
                        color: #FFF;
                        @extend %dockbar-caret;
                    }
                }
                .dropdown-menu, .site-administration-menu {
                    background: #616161;
                    border-width: 0;
                    left: 0;
                    margin: 0;
                    right: auto;
                    > li > a {
                        color: #FFF;
                        font-size: 0.9em;
                        font-weight: 300;
                        &:focus, &:hover {
                            background: #8A8B8A;
                            @include filter-gradient(#8A8B8A, #8A8B8A, vertical);
                        }
                        [class^="icon-"], [class*=" icon-"] {
                            margin-right: 3px;
                        }
                        .icon-spacer {
                            margin-right: 17px;
                        }
                    }
                    li.active > a {
                        background: #000000;
                    }
                }
                .dropdown-menu {
                    max-height: 300px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    &:after, &:before {
                        border-width: 0;
                    }
                }
            }
            li.dropdown.user-avatar {
                .dropdown-menu {
                    right: 0;
                    left: auto;
                }
            }
        }
        .nav-account-controls li ul li a:hover i {
            background-image: none;
            text-decoration: none;
        }
        .divider-vertical {
            border-left-color: #222;
            border-right-color: #555;
            display: none;
        }
    }
    .app-view-taglib .lfr-header-row-content .select-all-entries {
        left: 7px;
        top: 14px;
    }
    .navbar {
        margin-bottom: 0;
        .btn-group, .navbar-search {
            margin-bottom: 8px;
            margin-top: 8px;
        }
        .btn-navbar {
            padding: 10px;
        }
        .container .btn-navbar {
            background: transparent;
            border-color: #DDD;
            &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
                background-color: #DDD;
            }
            .icon-bar {
                background: #656565;
            }
        }
        .icon-caret-down {
            background: transparent;
            font-size: 14px;
            height: auto;
            margin-left: 5px;
            padding: 1px 4px;
            width: auto;
        }
        .nav > li.open > a {
            background-color: #FFF;
            color: #555;
            text-decoration: none;
        }
        .sign-in {
            float: right;
            margin: 0;
        }
    }
    .dockbar {
        .nav {
            > li {
                > a {
                    @include text-shadow(none);
                }
            }
            li.dropdown {
                .dropdown-menu {
                    @include border-radius(0);
                }
            }
        }
        .container .btn, .nav li.dropdown.user-avatar {
            .user-avatar-image {
                @include border-radius(50%);
                @include box-shadow(0 0 0 2px #666666);
            }
        }
    }
    .navbar {
        .container .btn {
            &, .icon-bar {
                @include box-shadow(0 1px 0 #FFF);
            }
        }
        .icon-caret-down {
            @include border-radius(50%);
        }
        .nav {
            > li.open > a {
                @include box-shadow(inset 0 3px 8px rgba(0, 0, 0, 0.125));
            }
        }
    }
    .dockbar .container .btn {
        @include box-shadow(none);
    }
    body.yui3-skin-sam .yui3-widget-mask {
        @include opacity(0.8);
    }
}
/* header */
 #hd-container {
    #header-wrapper, #navigation-wrapper .navbar-inner, #breadcrumbs-wrapper .breadcrumb {
        padding: 0 15%;
    }
    #navigation-wrapper {
        .navbar {
            a.has-menu-true {
                background: url(../images/horizontal-menu-submenu-indicator.png) no-repeat 95% 50%;
            }
            .navbar-inner {
                 background: #EAEAEA;
                 @include background-image(linear-gradient(rgba(245, 245, 245, 1) 0%, rgba(220, 220, 220, 1) 50%, rgba(220, 220, 220, 1) 51%, rgba(184, 184, 184, 1) 100%));
                 border: none;
                 font-size: 15px;
            }
        }
    }
    .dropdown-menu {
        &:before,
        &:after {
            border: none;
        }
    }
}
/* paginator */
 .paginator-container {
    .paginator-current-page {
        background:#06141C;
        border:#B6B6B6;
    }
}
/* footer */
 #footer-wrapper {
    background: #06141C;
    color: #878787;
    #footer-content {
        overflow: hidden;
        width: auto;
        padding: 30px;
        color: #878787;
        .inner {
            margin: 0 auto;
            padding: 0 15px;
            position: relative;
            #facebook-icon {
                background: url("../images/rivet_social/facebook.png") no-repeat;
                width: 32px;
                height: 32px;
            }
            #twitter-icon {
                background: url("../images/rivet_social/twitter.png") no-repeat;
                width: 32px;
                height: 32px;
            }
            #blogs-icon {
                background: url("../images/rivet_social/blogs.png") no-repeat;
                width: 32px;
                height: 32px;
            }
            #youtube-icon {
                background: url("../images/rivet_social/youtube.png") no-repeat;
                width: 32px;
                height: 32px;
            }
            a {
                color: #878787
            }
            #foot-about {
                float: left;
                margin : 0;
                width: 300px;
            }
            #foot-contact {
                float: left;
                margin-right: 50px;
                margin-left: 50px;
                padding-left: 75px;
                padding-right: 75px;
                border-right : 1px #5D5D5D solid;
                border-left : 1px #5D5D5D solid;
            }
            #foot-social {
                float: right;
                text-align: right;
                a {
                    display:block;
                    float: left;
                    margin-right:5px;
                }
            }
            #footer {
                height: auto;
                text-align: center;
            }
            #footer a {
                text-decoration : none
            }
            #footer a:hover {
                text-decoration : none
            }
            #footer a:visited {
                text-decoration : none
            }
            .copy {
                margin: 0px;
                padding: 0px;
                text-align: center;
                font-size: 13px;
                color: #878787;
            }
            h2 {
                padding-bottom: 10px;
                letter-spacing: -1px;
                font-size: 24px;
                color: #FFFFFF;
            }
        }
    }
}