@import"compass";

/*
custom_portlet.css = Styles used for  portlet markup
*/

/* base styles */
.portlet {
    border : none;
    overflow : hidden;
    background-color : transparent;
    border-bottom : 1px solid #ccc;
    margin-bottom:10px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    .portlet-topper {
        .portlet-title {
            background: #F58220;
            @include border-top-radius(5px);
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            color: white;
            font-size: 17px;
            font-weight: bold;
            line-height: 20px;
            height: auto;
            padding-left: 10px;
            padding-top: 4px;
            padding-bottom: 3px;
            margin: 0;
            img{
                position: relative;
                top: -2px;
                margin-right: 5px;
            }
        }
        menu.portlet-topper-toolbar {
            padding-top: 4px;
            .portlet-icon-back {
                color:inherit;
            }
        }
    }
    .portlet-content {
        border: 1px solid #D0D0D0;
        padding: 5px 25px 25px 25px;
    }
}
.portlet-column-content-only, .ltr .portlet-column-content-first, .rtl .portlet-column-content-last {
    margin : 0
        }
.portlet-column-content {
    padding : 5px
        }
/* asset publisher */
.portlet-asset-publisher {
    .asset-title a {
        margin-left: -5px;
    }
}