#*
 Copyright (C) 2012-2013 Rivet Logic Corporation.

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GPLv3 General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GPLv3 General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
*#

#set($np = $request.get("portlet-namespace"))

<article id="${np}articleView">
	<section class="article-content">
		<h1>$title.getData()</h1>
		<div class="article-body">
			#if ($thumbnail-type.getData().equals("Image"))
				#if (!($image.getData() == ""))
					<img src="$image.getData()" />
				#end
			#else
				#if (!($video.getData() == ""))
					<div class="video-wrapper">
						$video.getData()
					</div>
				#end
			#end
			$body.getData()
			<div style="clear:both"></div>
		</div>
	</section>
	<div style="clear:both"></div>
</article>